.nav {
    width: 1280px;
    height: 25px;
    margin-left: 30px;
    margin-top: 1px;
}

#wrapper {
    display: inline-block;
    clear: both;
}

#sidebar {
    float: left;
    width: 250px;
    height: 670px;
    border: 3px solid black;
    border-radius: 20px;
    margin-left: 5px;
}

#info {
    float: right;
    font-size: 14px;
    width: 1010px;
    height: 670px;
    border: 3px solid black;
    border-radius: 20px;
    margin-right: 7px;
}

#menu-list li {
    list-style-type: square;
    margin-top: 25px;
}

#menu-list li > a {
    color: white;
    text-decoration: none;
}

#menu-list li > a:visited {
    color: white;
    text-decoration: none;
}

#menu-list li > a:hover {
    color: goldenrod;
    text-decoration: none;
}

#menu-list {
    font-size: 16px;
    margin-top: 20px;
    margin-left: 10px;
}

.personal-info-table {
    width: 500px;
    margin: 35px;
}

.personal-info-table tr {
    border: solid 1px ghostwhite;
    height: 30px;
}

.personal-info-table td {
    border: solid 1px ghostwhite;
    text-align: center;
    text-decoration: none;
}

#logout {
    margin-left: 5px;
}

.form-horizontal {
    margin: 15px;
}

#delete-content {
    margin: 15px;
}

#details-content {
    margin: 15px;
}

#request-form {
    margin-left: 50px;
    width: 700px;
}

#back-link {
    margin-left: 20px;
    margin-top: 3px;
}

#refresh-btn {
    margin-left: 900px;
    margin-top: 3px;
}

#table-wrapper {
  position:relative;
}
#table-scroll {
  height:450px;
  overflow:auto;  
  overflow-x: hidden;
  margin-top:20px;
}
#table-wrapper table {
  width:100%;
  text-align: center;
  border: solid 1px ghostwhite;
}
#table-wrapper table td {
    border: solid 1px ghostwhite;
    height: 30px;
}
#table-wrapper table {
  width:100%;
}
#table-wrapper table * {
  color:ghostwhite;
}

#table-wrapper table th {
    text-align: center;
}

/* begin: jQuery UI Datepicker moving pixels fix */
	table.ui-datepicker-calendar {border-collapse: separate;}
	.ui-datepicker-calendar td {border: 1px solid transparent;}
/* end: jQuery UI Datepicker moving pixels fix */

/* begin: jQuery UI Datepicker emphasis on selected dates */
.ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
	background: #743620 none; /* a color that fits the widget theme */
	color: white; /* a color that is readeable with the color above */
}
/* end: jQuery UI Datepicker emphasis on selected dates */